// TODO stillingar hér

// Litapalletta
$svartur: #000000;
$hvitur: #fffcf2;
$appels:#ff5000; 
$blar:#00b7ff;

// Grunnstærðir
$gutter: 20px;
$leturstaerd: 16px;
// 12 14 16 18 21 24 36 48 60

// Leturgerðir
$meginmal: "Open Sans", Helvetica, Arial, sans-serif;
$fyrirsogn: "Oswald", Verdana, serif;

// Stillingar
$kvikun: 200ms ease-in-out;
$brotpunktur1: 700px;
$brotpunktur2: 1000px;
$brotpunktur3: 1240px;
