*{
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  p{
    font-size:24px;
    margin-bottom:40px;
  }
  button a{
    font-size:16px;
    font-weight: normal;
  }
  button{
    width:250px;
    height:40px;
  }
  main .grid__row{
    margin-bottom:40px;
  }
  .grid__col{
    margin-bottom:0px;
  }
  .col__img{
    order: 0;
  }


  @media(max-width:1000px){
    main .grid__row{
      margin-bottom: 70px;
    }
    .right__col{
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
  }

  @media(max-width:700px){
    main .grid__col{
        width:100%;
        margin-bottom:40px;

    }
    main .grid__row {
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 0;
    }

    .grid__row:nth-child(1n) .grid__col:first-child {
        order: 2;
    }

    main {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid__row:nth-child(2n) .grid__col:first-child {
        order: -1;
    }

    /* Láta körfuna vera fyrir neðan */
    /* Gæti verið að þarf að laga */
    main .card__row{
        flex-wrap:none;
        display:flex;   
        flex-direction: column;
    }
    
    /* =============================== */

    .image {
        max-width: 100%;
    }
    .text{
        margin-bottom: 20px;
    }
    .text p{
        margin-bottom: 20px;
    }
    .text h3{
        margin-bottom: 20px;
    }

    .text button{
        margin-bottom: 20px;                  
    }

    
        