.col__form{
    width:83%;
    display:inline-flex;
    justify-content: space-between;
}
/* 
.AlmUppl__p{
}
.AlmUppl__form{
} */

.text p{
    font-size:24px;
}

.grid__row:nth-of-type(2){
    margin-top:30px;
}
input{
    display:block;
    border: 1px solid black;
    border-radius: 3px;
    height:35px;
    width:100px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.label__Gildis{
    position: relative;
      display:block;
      border: 1px solid black;
      border-radius: 3px;
      height:35px;
      width:70px;
      padding-left: 10px;
      font-size: 16px;
      direction: rtl;
  }

  .flex__gildis{
    justify-content: space-between;
  }
  .Select__namskeid{
      width:70%;
  }
  label{
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
   }
   .input__staekka{
       display:block;
       border: 1px solid black;
       border-radius: 3px;
       height:35px;
       width: 70%;
       padding-left: 10px;
       font-size: 16px;
       margin-bottom: 20px;
    }
    select{
       position: relative;
       display:block;
       border: 1px solid black;
       border-radius: 3px;
       height:35px;
       width:430px;
       padding-left: 10px;
       font-size: 16px;
    }
    


    .label__gildis{
        position: relative;
        display:block;
        border: 1px solid black;
        border-radius: 3px;
        height:35px;
        width:70px;
        padding-left: 10px;
        font-size: 16px;
        direction: rtl;
    }

    button{
        margin: 10px auto 40px;
        width: 250px;
        height: 40px;
    }


    @media(max-width:1000px){
        .input__staekka{
            width:65%;
        }
        .Select__namskeid{
            width:50%;
        }
    

    }


    @media(max-width:700px){
        main .grid__col{
            width: 100%;
            margin-bottom:40px;
        }

        main .grid__row{
            display: flex;
            flex-direction: column;

        }
        .col__form{
            width:100%
        }
        .Select__namskeid{
            width:65%
        }
        
    }