.col__form{
    width:90%;
    display:inline-flex;
    justify-content: space-between;
}
/* 
.AlmUppl__p{
}
.AlmUppl__form{
} */


@media(max-width:700px){
    .grid__col{
        width: 100%;
    }

    .grid__row{
        display: flex;
        flex-direction: column;

    }
}
  