/* 
-- Block component 
.btn { }

-- Element that depends upon the block 
.btn__price { }

-- Modifier that changes the style of the block 
.btn--orange{ }
.btn--big{ }


.btn{ }           Parent
.btn__price{ }    Child       underscore
.big--big{}       Modifier     
*/
:root{
    --Ora:#ff5000;
    --Bla: #000000;
    --Blu:  #00b7ff;
    --Whi: #fffcf2; 

    --Fyrirsogn:'Oswald';
    --Meginmal: 'Open sans', sans-serif;
}



*{
    margin: 0;
    padding: 0;
}
    *,*:before, *:after{
        box-sizing: inherit;
    }
    html{
        font-size: 16px;
        box-sizing: border-box;
    }

    /* =========  Almennt  ========= */

    h3{
        font-family: var(--Fyrirsogn);
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 40px;
    }
    /* .text{
        margin-bottom: 20px;
    } */

    p{
        margin-bottom: 20px;
        font-family: var(--Meginmal);
        font-size: 16px;
    }

    button{
        width:250px;
        height:40px;
        background-color:var(--Blu);
        border: 1px solid var(--Blu);
        padding: 5px 40px;
        border-radius:5px;
    }

      

    button:hover{
        background-color: var(--Ora);
        border: 1px solid var(--Ora);
        transition-timing-function: ease-in-out;
        transition: 200ms;
    }

    button a{
        font-family: var(--Meginmal);
        font-size:16px;
        font-weight: normal;
    }

    .image {
        max-width: 100%;
        /* object-fit:cover;
        display: inline; */
      }
    

    /* ========= Grid ========= */

    main{
        margin: 0 auto;
        max-width: 1240px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid{
        margin: 0 auto;
    }

    .grid__row{
        display: flex;
        margin-left:  -10px;
        margin-right: -10px;
    }

    .grid__col{
        width: 50%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom:20px;
    }

    @media(max-width:700px){
        .grid__col{
            padding-right:20px;
        }
    }

    









