*{
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


  .text__mid{
      text-align: center;
      margin: auto;
  }

  .image1{  
     content: url(./img/Karítas.jpg);
 }

 .haed{
     height: 795px;
     display: flex;
 }

 .image2{
     content: url(./img/Úlfur\ Arnar.jpg)
 }

 .image3{
     content: url(./img/Bergrós.jpg);
 }

 .image4{
     content: url(./img/Hannes.jpg);
 }


 .image1:hover{
     content: none;
 }

 .image2:hover{
     content: none;
 }

 .image3:hover{
     content: none;
 }

 .image4:hover{
     content: none;
 }
 




  